.main-body{
    margin-top: 65px;
    margin-bottom: 120px;
}

.main-bg{
	background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%),url("../images/bg1.jpg") no-repeat;
}

.banner-img{
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%),url(../images/HomeBanner.jpg) no-repeat;
    height: 850px;
    background-size: cover;
    padding: 0px;
    margin:0px;
}

a:hover{
    text-decoration: none;
    color: white;
}

.head-link{
    font-size: 20px;
    padding-left: 0px;
}

.head-btn{
    border: solid 4px white;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    font-weight: 500;
}

.head-btn:hover{
    color:white;
}

.vl-head{
    border-left: 2px solid white;
    height: 40px;
}

.vl-foot{
    border-left: 2px solid white;
    /* height: 220px; */
}

.hl-foot{
    border-top: 2px solid white;
    width: 80%;
}

.footer{
    background-color: #222629;
}


#home_search_bar{
	 width:650px; 
	 background: none; 
	 border-top:none; 
	 border-left: none;
	 border-right: none;
	 border-bottom: 5px white solid;
	 outline: none;
	 font-size: 20px;
}

#home_search_bar::placeholder{
	color: white;
	font-size: 20px;
	font-weight: bold;
}



