.breadcrumb{
	background: none;
}

.breadcrumb-item.active{
	color: white;
}

.left-col{
	background-color: #222629;
}

.logo{
	width: 180px;
	height: 60px;
}

#dp{
	border-radius: 50%;
	width: 170px;
	height: 170px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.right-top{
	height: 60px;
}

.right-middle{
	background-color: #F4F6F9;
	height: 1000px;
}

#dash-text{
	width: 40%;
	border-bottom: solid 4px rgb(0,123,255);
}

.hl{
	background-color: #fff;
}

.nav-pills .nav-link.active.dark-bg, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #222629;
}

.dark-hov{
	font-weight : bold;
}

.dark-hov:hover{
	color: #222629;
	cursor: pointer;
}

#dpUpload{
    background: none;
    color:white;
    border: dashed 2px white;
    border-radius: 10px;
	padding: 5px;
}

.dropzone {
    min-height: 0px; 
    padding: 0px;
}