.breadcrumb{
	background: none;
}

.breadcrumb-item.active{
	color: white;
}

#left-col{
	background-color: #222629;
	height: 618px;
}

.logo{
	width: 180px;
	height: 60px;
}

#dp{
	border-radius: 50%;
	width: 170px;
	height: 170px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.right-top{
	height: 60px;
}

.right-middle{
	background-color: #F4F6F9;
	min-height: 618px;
}

.dash-text{
	width: 40%;
	border-bottom: solid 4px rgb(0,123,255);
}

.hl{
	background-color: #fff;
}

.nav-pills .nav-link.active.dark-bg, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #222629;
}

.dark-hov{
	font-weight : bold;
}

.dark-hov:hover{
	color: #222629;
	cursor: pointer;
}

.feature-text{
	border-bottom: solid 4px rgb(0,123,255);
	width: 15%;
}

.dropzone{
    background: none;
    color:#222629;
    border: dashed 2px #222629;
    border-radius: 10px;
}

#my-detail{
	font-size: 35px;
	font-weight: bold;
	margin: 40px 0px;
	border-bottom: solid 4px rgb(0,123,255);
	width: 30%;
	padding-left: 10px;
}

.head-link{
	font-size: 20px;
}

.head-link:hover{
	color: #222629;
}

#record_back_btn{
	cursor: pointer;
}







